@page "/user"

@*Injections*@
@inject IDialogService DialogService

<PageTitle>User Information</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">User informations</MudText>

<MudCard>
    <MudCardContent>

        <MudAvatar>
            <MudImage Src=@UserProfilImage></MudImage>
        </MudAvatar>

        <div style="height: 16px;"></div>

        <MudGrid>
            <MudItem xs="12" md="6">
                <MudField Label="User Name" Variant="Variant.Text"> @UserFamilyName @UserGivenName </MudField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudField Label="Email" Variant="Variant.Text"> @UserEmail </MudField>
            </MudItem>
            <MudItem xs="12" md="6">
                <MudTextField Label="Phone Number" Value="@UserPhone" ReadOnly="true" />
            </MudItem>
            <MudItem xs="12" md="6">
                <MudField Label="Adress" Variant="Variant.Text"> @UserStreetName @UserStreetNumber, @UserZIPCode @UserCity, @UserCountry </MudField>
            </MudItem>
        </MudGrid>

        <div style="height: 16px;"></div>

        <MudToolBar>
            <MudSpacer /> @*Move content to right side*@
            <MudIconButton OnClick="OpenUserDialogAsync" Color="Color.Secondary" Icon="@Icons.Material.Outlined.Edit" />
        </MudToolBar>

    </MudCardContent>
</MudCard>

@code {
    private int ID { get; set; }
    private string UserFamilyName = "Fehr";
    private string UserGivenName = "Benjamin";
    private string? UserPhone = "+8615022143391";
    private string? UserEmail = "benjamin.fehr@praewema.de";
    private string? UserStreetName = "Dorfstrasse";
    private string? UserStreetNumber = "84";
    private string? UserZIPCode = "8454";
    private string? UserCity = "Buchberg";
    private string? UserCountry = "Switzerland";
    private string UserProfilImage = "https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50";

    //supabase client
    private Supabase.Client supabase;

    protected async override void OnInitialized()
    {
        supabase = new Supabase.Client("https://uxgxzfhyhzhrjboxjcrz.supabase.co", "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV4Z3h6Zmh5aHpocmpib3hqY3J6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjU0MTQ5NTIsImV4cCI6MjA0MDk5MDk1Mn0.cevff5000JUf4r0QE7Xij2viCdJhE-u1x8HbqPD8SK8");
        await LoadUser();
    }

    //Load user data inkl Profile picture
    private async Task LoadUser()
    {
        //get the useremail from securestorage and then load all data from supabase where the useremail match
    }

    //User edit information button click open dialog where user can edit the strings and upload a picture
    private async Task OpenUserDialogAsync()
	{
        var dialog = await DialogService.ShowAsync<UserDialog>("Edit User Informations");
        var result = await dialog.Result;
	}
}
